<div class="panel-body">
    <h3>Ürün pazaryerlerinde güncelleniyor Lütfen Bekleyiniz.</h3>
    <div class="result">

    </div>

</div>


<script>


    $(function (){


        var product_id=parseInt('{{ product_id }}');

        $.post('index.php?route=entegrasyon/product/update_products_after_modified&{{ token_link }}',{product_id:product_id},function (json){



            $.each(json, function( index, value ) {
                //alert( index + ": " + value );
if(value['status']){

    $('.result').append('<div class="alert alert-success" role="alert"> <strong>'+ value['marketplace'] +'</strong>  '+value['message']+'  </div>').delay(500);

}else {

    $('.result').append('<div class="alert alert-warning" role="alert"> <strong>'+ value['marketplace'] +'</strong>  '+value['message']+'  </div>').delay(500);


}

            });

        },'JSON')


    })



</script>