<div style="padding: 20px"><h3><b><center>EASY ENTEGRE SON KULLANICI LİSANS SÖZLEŞMESİ</center></b></h3>
    <b>Önemli:</b> Bu lisans sözleşmesinde belirtilen hakları ve yükümlülükleri dikkatle okuyunuz. Üyelik
    esnasında bu şartları kabul edip etmediğiniz size sorulacaktır. Eğer kabul etmiyorsanız üyelik
    işlemi gerçekleşmeyecektir. Kabul edip üyelik oluşturmanız, sözleşme şartlarını kabul
    ettiğinizi gösterir <br><br>

    Bu sözleşme EASY ENTEGRE Modülü için (YAZILIM), EASY ENTEGRE ile SON KULLANICI (gerçek veya tüzel)
    arasında yapılan yasal bir sözleşmedir. Üyelik oluşturmanız bu sözleşmenin hükümlerini kabul
    ettiğiniz anlamına gelir. Sözleşmeyi kabul etmediğiniz taktirde Üye olamaz ve
    kullanamazsınız. <br><br>

    <h4><b>I- SON KULLANICI'NIN HAK VE YÜKÜMLÜLÜKLERİ:</b></h4>
    <b>1. SON KULLANICI</b>, YAZILIM'ın çalışması için gerekli olan alt yapı hizmetlerini
    (Örnek: İnternet, websitesi veya donanım ürünlerinin tamamı yazılımı kullanacak firmaya aittir)
    kullanmayı kabul, taahhüt ve beyan eder.<br><br>
    <!-- Genel g*tü sağlama alma yazısı-->

    <b>2. SON KULLANICI</b>, Yazılım lisansını yalnızca tek bir mağazada kullanacağını,
    herhangi bir araçla ve herhangi bir şekilde sürekli veya geçici
    olarak başka bir mağazaya aktarmayacağını kabul, taahhüt ve beyan eder. <br><br>

    <!-- Modülü yalnızca lisanslı domainde kullanması adına-->


    <b>3. SON KULLANICI</b>, demo sürümünü, EASY ENTEGRE'nin belirlediği kayıt adedi ve süresince kullanacağını,
    her ne sebeple olursa olsun, ticari veya mesleki amaçlarla veya diğer kar getirici sebeplerle
    kullanmayacağını kabul, taahhüt ve beyan eder. <br><br>
    <!-- Demo sürümünü sadece test amaçlı kullanıp ticari bir amaç uğruna kullanamacağına dair-->


    <b>4. SON KULLANICI</b><br>
    <b>a.</b> Bu Lisans Sözleşmesi ile izin verilenler dışında YAZILIM ve dökümantasyonu çoğaltıp
    kullanmayacağını, YAZILIM'ı kaynak koda dönüştürmeyeceğini ve tekrar derleme işlemi
    yapmayacağını,<br>
    <!--Kodların derlenip çoğaltılmasını önlemek adına-->


    <b>b.</b> EASY ENTEGRE'nin yazılı onayı olmadan YAZILIM'ı, başka bir kişiye dağıtmayacağını, ödünç
    vermeyeceğini, kiraya vermeyeceğini, satmayacağını, topluma iletmeyeceğini,<br>

    <!-- Modülü çoğaltıp satıp, kiralayıp her hangi bir gelir elede dememesi adına-->

    <b>c.</b> YAZILIM ve dökümantasyonunu değiştirmeyeceğini, uyarlamayacağını veya YAZILIM ve
    dökümantasyondan yola çıkarak esinlenmiş eserler yaratmayacağını kabul, beyan ve taahhüt
    eder. <br><br>
    <!--  Modül kodlarından yola çıkarak, esinlenerek başka bir modül yazmaması adına-->


    <h4><b>II- EASY ENTEGRE'NİN HAK VE YÜKÜMLÜLÜKLERİ:</b></h4>
    <b>1. </b>SON KULLANICI'nın, bend I, madde 1.-2.-3.-4. hükümlerine aykırı davranması halinde, EASY ENTEGRE
    hiçbir ihtara gerek kalmaksızın, her türlü yasal başvuru ve talep haklarını kullanma hakkına haizdir. SON
    KULLANICI'nın yedekleme amacı ile aldığı kopyalar bu madde hükmünün istisnası olup; SON KULLANICI'
    yedek amaçlı kopya alma hakkına haizdir. <br><br>

    <!-- Haklar ihlal edildiğinde yapabileceklerimiz adına-->

    <b>2.</b> EASY ENTEGRE, SON KULLANICI'nın talebi üzerine ve destek kararı kendisinde olmak üzere, SON
    KULLANICI'ya, teknik destek sağlayabilir. Destek hizmeti esnasında edinilen ve geliştirilen teknik
    materyal ve bilgilerin fikri mülkiyet hakkı EASY ENTEGRE'ye ait olup, SON KULLANICI bu konuda herhangi bir
    hak talebinde bulunamaz. <br><br>
    <!-- Müşteriden gelen öneriyi yaptığımızda müşterinin hak talebinde bulunmaması için-->


    <b>3.</b> YAZILIM'ın lisans durumu, bilgisayarınızda internet bağlantısı sağlandığı anda, EASY ENTEGRE'nin
    belirlemiş olduğu lisans sunucuları tarafından müşteri bilgileriniz, IP numaranız ve lisans bilgileriniz
    kontrol edilir. <br><br>


    <b>4.</b> EASY ENTEGRE referans listesinde, müşteri bilgilerinizi ve logonuzu yayınlayabilir. Eğer bilgilerinizin
    kullanılmasını istemiyorsanız yazılı olarak EASY ENTEGRE Genel Merkez ile irtibata geçmeniz gerekmektedir. <br><br>


    <h4><b>III- SINIRLI SÜRELİ YAZILIM LİSANSLARI:</b></h4>
    <b>1.</b> Sınırlı süreli lisans verildiği belirtilen programın, süre sonunda fonksiyonları durdurulur. Programın
    çalışmaya devam etmesi için lisans yenilemesi yapılması gerekir. <br>
    <b>2.</b> Sınırlı süreli lisansın yenilenmesi için gerekli ücretler yazılıma ait tanıtım sayfasında ilan edilir. <br><br>

    <h4><b>IV- GARANTİ ŞARTLARI: </b></h4>
    <b>1.</b> EASY ENTEGRE; network bağlantı hatalarından, virüs ve kullanıcı
    hatalarından kaynaklanacak bilgi kayıplarından sorumlu tutulamaz.<br><br>


    <b>2.</b> EASY ENTEGRE, YAZILIM'ın işlevini yerine getirmesi için gerekli azami özeni göstermektedir. EASY ENTEGRE
    geliştirdiği YAZILIM'ın hatasız, kusursuz ve mükemmel olduğu ve kullanıcının özel isteklerini tamamen
    karşılayacağı şeklinde bir iddia ve taahhütte bulunmaz. <br><br>

    <!-- Fazla beklenti içine girilmesin bizde insanız mükemmel yazılım yoktur, mükemmele yakın yazılım vardır diye sallayabiliriz :D-->


    <b>3</b>. EASY ENTEGRE, oluşan zararın olasılığından önceden haberdar edilmiş olsalar dahi
    YAZILIM'ın kullanımından ya da kullanılamamasından doğan veya bunlarla ilişkili herhangi bir özel, mali,
    dolaylı, dolaysız vaki <!--vaki - Olmus anlamında--> hiçbir zarardan ( Şahıslara olan zarar, kar kaybı, işin durması, işle ilgili bilgilerin
    kaybı, görevin yerine getirilmemesi, iyi niyet veya makul dikkatin gösterilmemesi, ihmal ve her nasıl
    olursa olsun tüm dolaylı zarar, ziyan ve cezai tazminat dahil olmak üzere ) ilgili yasalar çerçevesinde izin
    verilen azami ölçüde sözleşme hükümleri uyarınca veya kasıt, ihmal veya sorumluluk nedeni ile olsa
    dahi sorumluluktan muaftır. <br><br>


    <b>4.</b> YAZILIM güncellenmeden önce DATA dizini yedeklenmelidir. Bu işlem güncelleme sırasında
    meydana gelecek olağandışı hataları önler. Bu işlemin yapılmamasından doğacak veri kayıplarından
    EASY ENTEGRE sorumlu değildir. <br><br>


    <b>5.</b> EASY ENTEGRE, YAZILIM'ın kullanımı esnasında, teknik servis desteğinin EASY ENTEGRE yetkili elemanları
    harici herhangi bir üçüncü gerçek/tüzel kişiden alınmasından dolayı meydana gelebilecek zararlardan
    sorumlu değildir. <br><br>



    <b>6.</b> YAZILIM ve dökümantasyonunun ve varsa, sizin tarafınızdan çıkarılmış olan tüm kopyaların, işleme,
    geliştirme, yayma ve çoğaltma, temsil ve iletme hakları münhasıran EASY ENTEGRE'ye aittir.YAZILIM'ın
    tamamının veya bir kısmının işlenerek geliştirilmesi durumunda oluşturulan yeni eserin fikri mülkiyet
    hakkı EASY ENTEGRE'ye ait olup, EASY ENTEGRE ayrıca ilgililer hakkında herhangi bir ihtara gerek kalmaksızın her
    türlü yasal yollara başvurma hakkına haizdir. YAZILIM'ın ve dökümantasyonun telif hakları 5846 sayılı
    Fikir ve Sanat Eserleri Kanunu ve Yeni Türk Ceza Kanunu hükümleri ile koruma altına alınmıştır.
    <br><br>

    <h4><b>V- GENEL HÜKÜMLER: </b></h4>
    <b>1</b>. Bu Lisans Sözleşmesi'nin maddelerine göre bu YAZILIM'ın bütün hakları (YAZILIM kodları, satış hakları
    vb.) EASY ENTEGRE'ye (EASY ENTEGRE E-TİCARET SAN. ve TİC. LTD. ŞTİ. ) aittir. Son kullanıcı
    sadece YAZILIM'ın lisans kullanım hakkına sahip olacaktır. YAZILIM'ın kullanım lisansı, ödeme yaptığınızda anlaştığınız
    sınırlı süre ile kısıtlıdır. <br>
    <b>2</b>. Açıkça SON KULLANICI'ya verildiği belirtilmeyen tüm haklar EASY ENTEGRE'ye aittir. <br>
    <b>3</b>. Diğer hakların saklı kalması kaydıyla bu sözleşmenin şartlarına uymamanız durumunda EASY ENTEGRE
    sözleşmeyi sona erdirebilir. <br>
    <b>4</b>. İş bu sözleşmenin uygulanmasından doğan uyuşmazlıklarda, İzmir Mahkeme ve İcra Daireleri
    yetkilidir. <br> <br>
    EASY ENTEGRE, EASY ENTEGRE E-TİCARET SAN. ve TİC. LTD. ŞTİ.

</div>